<% title "Resultados de búsqueda (#{params[:query]})" %>

<% if @activos.length > 0 %>
  <div class="well">
    <h2>Listado de activos</h2>
    <%= render :partial => 'activos/activos' %>
  </div>
<% end %>

<% if @ips.length > 0 %>
  <div class="well">
    <h2>Listado de IP's</h2>
    <%= render :partial => 'sips/ips' %>
  </div>
<% end %>
