<% title "#{@activos.count + @ips.count} resultados coincidentes con la búsqueda (#{params[:query]})" %>
<% content_for :actions do %>
  <% render_navigation :items => search_actions, :renderer => :links %>
<% end %>

<% if @activos != nil and @activos.length > 0 %>
  <div class="well">
    <h2>Listado de activos</h2>
    <%= render :partial => 'activos/activos' %>
  </div>
<% end %>

<% if @ips != nil and @ips.length > 0 %>
  <div class="well">
    <h2>Listado de IP's</h2>
    <%= render :partial => 'sips/ips' %>
  </div>
<% end %>
