<div>
  <table class="ips extra">
    <tr>
      <td class="gw extra">&nbsp;</td>
      <td>Gateway</td>
    </tr>
  </table>
  <table class="ips extra">
    <tr>
      <td class="hsrp extra">&nbsp;</td>
      <td>HSRP</td>
    </tr>
  </table>
  <table class="ips extra">
    <tr>
      <td class="temporal extra">&nbsp;</td>
      <td>Temporal</td>
    </tr>
  </table>
  <table class="ips extra">
    <tr>
      <td class="assigned0 extra">&nbsp;</td>
      <td spanrow="2">Asignada</td>
    </tr>
    <tr>
      <td class="assigned1 extra">&nbsp;</td>
    </tr>
  </table>
  <table class="ips extra">
    <tr>
      <td class="even extra">&nbsp;</td>
      <td spanrow="2">Libre</td>
    </tr>
    <tr>
      <td class="odd extra">&nbsp;</td>
    </tr>
  </table>
</div>
