<div>
  <table class="">
    <tr>
      <td class="gw">&nbsp;</td>
      <td>Gateway</td>
    </tr>
  </table>
  <table class="">
    <tr>
      <td class="hsrp">&nbsp;</td>
      <td>HSRP</td>
    </tr>
  </table>
  <table class="">
    <tr>
      <td class="temporal">&nbsp;</td>
      <td>Temporal</td>
    </tr>
  </table>
  <table class="">
    <tr>
      <td class="assigned">&nbsp;</td>
      <td>Asignada</td>
    </tr>
  </table>
</div>
