<table>
  <tr>
    <td class="gw">&nbsp;</td>
    <td>Gateway</td>
  </tr>
  <tr>
    <td class="route">&nbsp;</td>
    <td>Ruta alternativa</td>
  </tr>
  <tr>
    <td class="hsrp">&nbsp;</td>
    <td>HSRP</td>
  </tr>
  <tr>
    <td class="temporal">&nbsp;</td>
    <td>Temporal</td>
  </tr>
  <tr>
    <td class="assigned">&nbsp;</td>
    <td>Asignada</td>
  </tr>
</table>
