<% title "Taxonomía" %>
<% content_for :actions do %>
  <% render_navigation :items => taxontypes_actions, :renderer => :links %>
<% end %>

<% if @types.length == 0 %>
  <p>No hay tipos de taxonomía definidos</p>
<% else %>
  <ul class="nav nav-tabs">
    <% @types.each do |t| %>
      <% if t == session[:taxontype] %>
        <li class="active">
        <% else %>
          <li>
          <% end %>
          <%= link_to t.name,"/taxonomy/show/#{t.id}" %>
          </li>
        <% end %>
  </ul>

    <% if @taxons.length == 0 %>
      <p>No hay taxonomía definida para este tipo</p>
    <% else %>
  <table class="table">
      <tr>
        <th>taxón</th>
      </tr>
      <% @taxons.each do |t| %>
        <tr>
          <td><%= t.name %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>

