<% title "Taxonomía" %>
<% content_for :actions do %>
  <% render_navigation :items => taxontypes_actions, :renderer => :links %>
<% end %>

<% if @types.length == 0 %>
  <p>No hay tipos de taxonomía definidos</p>
<% else %>
  <ul class="nav nav-tabs">
    <% @types.each do |t| %>
      <% if t == session[:taxontype] %>
        <li class="active">
        <% else %>
          <li>
          <% end %>
          <%= link_to t.name,"/taxonomy/show/#{t.id}" %>
          </li>
        <% end %>
  </ul>

  <% if session[:taxon_parents] != nil %>
    <ol class="breadcrumb">
      <% $log.debug(session[:taxon_parents].length - 1) %>
      <% session[:taxon_parents][0..(session[:taxon_parents].length - 1)].each do |b| %>
        <li><%= b %></li>
      <% end %>
    </ol>
  <% end %>
  <% if @taxons.length == 0 %>
    <p>No hay taxonomía definida para este tipo</p>
  <% else %>
    <%= render "listtaxons" %>
  <% end %>
<% end %>

