<% title @tag.tag %>
<% content_for :actions do %>
  <% render_navigation :items => tag_actions, :renderer => :links %>
<% end %>

<div class="alert alert-info"><%= @tag.activos.length %> activos asociados</div>
<div>
  <%= render :partial => 'activos/activos' %>
</div>

